@charset "ISO-8859-1";



body{
	
background-image:url("http://www.hd-freewallpapers.com/latest-wallpapers/awesome-planet-pics-download.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
H2{
text-align: center;	
	color: rgb(127, 127, 127);
    font-style: italic;
    font-weight:bolder;
    font-size: 20px;
	
}
div.transbox {
		color: rgb(127, 127, 127);
    text-align: left;
    font-style: italic;
    font-weight:bolder;
    font-size: 20px;
  margin: 300px;
  background-color: white;
  border: 15px;
  border-style: solid;
  border-color: rgb(0, 151, 220);
  opacity: 0.9;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: rgb(127, 127, 127);
}

div.logo {
text-align: right;
}


table {
	margin-left:auto; 
    margin-right:auto;
	text-align: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #92a8d1;
}

tr:nth-child(even) {
    background-color: #dddddd;
}